*{
    padding : 0;
    margin: 0;
}

:root{
    --link-blue: rgb(31, 169, 204);
}

body{
    text-align: center;
    /* padding: 0 10rem; */
}

.nav-style{
    background-color: grey;
}

.nav-a-style{
    color:white;
}

ul{
    list-style: none;
}
li a{
    text-decoration: none;
    color:white;
}

.menu-style{
    background-color:black;
    text-align: left;
    /* border-color: black; */
    /* display: none; */
}

.menu-style ul{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(58, 55, 55);
    border-width: .01rem;
}

.menu-style li{
    border-bottom-style: solid;
    border-color: rgb(58, 55, 55);
    border-width: .01rem;
    margin: 0 2rem;
    padding: 1rem 0;
}

.link-blue-style{
    color: var(--link-blue);
    /* color: blue; */
}

.inline-list > li{
    display: inline;
}

/* main */
.product{
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    padding: 2rem 5rem 15rem;
}
.dark-style{
    color: white;
    background-color: black;    
}

.light-style{
    color: black;
    background-color: white;
}

.iphone11pro{
    background-image: url("../img/iphone11pro.jpg");
}

.iphone11{
    background-image: url("../img/iphone11.jpg");
}
.watch{
    background-image: url("../img/applewatch.jpg");
}
